<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism "/>
  </configSections>


  <!-- Prism Modules -->
  <modules>
    <module assemblyFile="Modules/ServiceMonitorModule.ServiceMonitorModule.dll" moduleType="ServiceMonitorModule.ServiceMonitorModule.ServiceMonitorModule, ServiceMonitorModule.ServiceMonitorModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ServiceMonitorModule" startupLoaded="true"/>
  </modules>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

</configuration>